*{
    padding: 0;
    margin: 0;
}
.border-sample{
    border:solid deepskyblue!important;
}
body{
    font-family: 'Inconsolata';
    color: #000000;
    font-size: 16pt;
}
header{
    color: #ffee07;
    font-size: 24pt;
    padding: 20px;
    background-color: deepskyblue;
}
footer{
    color: #ffee07;
    font-size: 24pt;
    padding: 20px;
    background-color: deepskyblue;
}
.container{
    padding: 20px;
}
h1{
    font-family:'Lucida Handwriting',cursive ;
    margin-bottom: 20px;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width: 200px;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
}