*{
    padding: 0;
    margin: 0;
}
.border-sample{
    border:solid deepskyblue!important;
}
body{
    font-family: 'Inconsolata';
    color: black;
    font-size: 16pt;
}
header{
    color: #ffee07;
    font-size: 24pt;
    padding: 20px;
    background-color: deepskyblue;
}
footer{
    color: #ffee07;
    font-size: 24pt;
    padding: 20px;
    background-color: deepskyblue;
}
.container{
    padding: 20px;
}
h1{
    font-family:'Lucida Handwriting',cursive ;
    margin-bottom: 20px;
}
.content{
    margin-bottom: 30px;
    text-align: justify;
}
p{
    margin-bottom: 10px;
}
section{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    width: 300px;
    background-color: rgb(20, 2, 70);
    color: white;
}
.section-container{
    display: flex;
    justify-content: space-evenly;
}
a:link, a:visited {
    padding: 14px 25px;
    text-decoration: none;
    /* display: inline-block; */
    text-align: center;
    color:rgb(2, 238, 255);
  }
a:hover, a:active {
    color: rgb(255, 2, 2);
}